{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current",
                "chrome": "69",
                "safari": "12"
            }
        }],
        "@babel/preset-react"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties", "emotion"]
}