CONTAINER_NAME=photoalbum:latest
CONTAINER_WRAPPERS=(node nodejs npm python eslint)

container_cmd() {
    case "$1" in
        npm)
            echo "${CONTAINER_CMDLINE_PREFIX} -p 3000:3000 -p 3001:3001 ${CONTAINER_NAME} npm \$*"
            ;;
        *)
            exit 1
            ;;
    esac
}

container_layout
