
CONTAINER_NAME=photoalbum:latest
CONTAINER_WRAPPERS=(node nodejs npm python eslint)

container_arguments() {
    if [ "$1" == "npm" ]; then
        echo "${CONTAINER_EXTRA_ARGS} -p 3000:3000 -p 3001:3001"
    else
        echo "${CONTAINER_EXTRA_ARGS}"
    fi
}


container_layout

